.konten .my-name {
    font-size: 50px;
    font-family: lobster;
}

.contact-wrapper .contact-title .my-contact,
.get-my-contact {
    font-size: 36px;
    font-weight: bolder;
    font-family: lobster;
}

.about-wrapper p {
    font-size: 36px;
    font-weight: bolder;
    font-family: lobster;
}

hr {
    height: 5px;
    color: black;
    background-color: black;
    border-radius: 5px;
    width: 200px;
    margin-top: 5px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: lobster;
    src: url(font/Lobster-Regular.ttf);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
    background-color: rgb(33, 33, 33);
    box-shadow: 0 5px 10px rgb(256, 256, 256, 0.5);
    line-height: 50px;
}

.header a {
    text-decoration: none;
    color: white;
}

.header ul li {
    display: inline;
    list-style: none;
    margin-left: 15px;
    margin-right: 15px;
}

.background-konten img {
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: -2;
}

.konten {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 800px;
    background-color: rgb(1, 1, 1, 0.7);
    text-align: center;
    padding-top: 70px;
}

.greeting {
    margin-top: 200px;
}

.konten p {
    color: white;
    font-size: 100px;
    font-weight: bold;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    background-color: rgb(212, 214, 214);
}

.about {
    display: flex;
    justify-content: space-around;
    margin-top: 50px auto;
    width: 70%;
    border: solid 2px white;
    border-radius: 10px;
    background-color: rgb(33, 33, 33);
    box-shadow: inset rgb(212, 214, 214) 5px 5px 7px, inset rgb(212, 214, 214) -5px -5px 7px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: white;
}

.biodata {
    display: block;
    text-align: left;
    width: 100%;
    padding: 20px 20px 20px 100px;
}

.biodata ul li {
    list-style: none;
    font-size: 20px;
    line-height: 25px;
}

.photo-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.photo-profile img {
    border: solid 5px rgb(33, 33, 33);
    border-radius: 50%;
    width: 300px;
    height: 350px;
    margin: 0 40px;
}

.contact-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact {
    display: flex;
    margin-top: 50px;
}

.social-media {
    margin: 20px;
}

.social-media img {
    width: 200px;
    height: 200px;
}

.contact-value-wrapper {
    margin-top: 30px;
}

.get-my-contact {
    margin-top: 30px;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: rgb(33, 33, 33);
    box-shadow: 0 5px 10px rgb(256, 256, 256, 0.5);
    line-height: 40px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
}

@media (max-width: 1000px){
    .photo-profile img {
        border: solid 5px rgb(33, 33, 33);
        border-radius: 50%;
        width: 230px;
        height: 250px;
        margin: 0 20px;
        margin-top: 60px;
    }

    .social-media img {
        width: 100px;
        height: 100px;
    }

    .biodata {
        display: block;
        text-align: left;
        width: 100%;
        padding: 20px 20px 20px 65px;
    }
}

@media (max-width: 670px) {
    .background-konten img {
        width: 100%;
        height: 500px;
        position: absolute;
        z-index: -2;
        margin-top: 60px;
    }

    .greeting {
        margin-top: 200px;
        padding: 10px;
    }

    .konten p {
        color: white;
        font-size: 60px;
        font-weight: bold;
        margin-top: 15px;
    }

    .konten .my-name {
        font-size: 40px;
        font-family: lobster;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 50px auto;
        width: 70%;
        border: solid 2px white;
        border-radius: 10px;
        background-color: rgb(33, 33, 33);
        box-shadow: inset rgb(212, 214, 214) 5px 5px 7px, inset rgb(212, 214, 214) -5px -5px 7px;
        margin-top: 30px;
        margin-bottom: 50px;
        color: white;
        padding: 10px;
    }

    .biodata {
        display: block;
        text-align: left;
        width: 100%;
        padding: 20px;
        margin-top: 10px;
    }
    
    .contact-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;
    }

    .social-media img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 360px) {
    .about {
        width: 90%;
    }
}